:root{
    --mainColor: #3778FA;
    --backgroundColor: #FFF;
    --textColorLight: #000;
    --textColorContrast: #FFF;
    --mapsColor: #A0DA7A;
    --faqColor: #F3F3F3;
    --fontPage: 'Space Grotesk', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-size: calc(1rem - 0.125rem);
    font-weight: 500;
    line-height: calc(1rem + 0.375rem);
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColorLight);
    font-family: var(--fontPage);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem;
}

#logo{
    color: var(--mainColor);
    font-size: 1.25rem;
}

header #menuDesktop{
    display: none;
}

header #menuMobile{
    width: 1.25rem;
    height: 0.75rem;
}

header button{
    width: 1.25rem;
    height: 0.75rem;
}

header button{
    background-color: var(--backgroundColor);
    border: 0;
}