:root{
    --mainColor: #3778FA;
    --backgroundColor: #FFF;
    --textColorLight: #000;
    --textColorContrast: #FFF;
    --mapsColor: #A0DA7A;
    --faqColor: #F3F3F3;
    --fontPage: 'Space Grotesk', sans-serif;
}

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SpaceGrotesk-Medium.ttf') format('truetype');
    font-size: calc(1rem - 0.125rem);
    font-weight: 400;
    line-height: calc(1rem + 0.375rem);
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColorLight);
    font-family: var(--fontPage);

    text-align: center;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 1.0625rem;

}

#logo{
    color: var(--mainColor);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

header #menuDesktop{
    display: none;
}

header #menuMobile{
    width: 1.25rem;
    height: 0.75rem;
}

header button{
    width: 1.25rem;
    height: 0.75rem;
}

header img{
    background-color: var(--backgroundColor);
    border: 0;
    max-width: 100%;
    display: block;
}

h2{
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-top: 3.56rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    width: 22.0625rem;
    height: 7rem;
    align-self: center;
    margin-bottom: 2.5rem;
    margin-top: 1.31rem;
}

.advertising img{
    width: 24.25rem;
    height: 15.61rem;
    margin: 0rem 1.25rem;
}

#cellphone3-desktop{
    display: none;
}

#faq{
    background-color: var(--faqColor);
    width: 24.25rem;
    height: 45.7rem;
    border-radius: 1.25rem;

    padding: 3.13rem 1.38rem 4.38rem 1.38rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#faq img{
    max-width: 100%;
}

.ask{
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
    padding: 1.06rem 3.5rem 1.06rem 0.7rem; 
}

.ask span{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

footer, footer p, footer a, footer h2, footer h4{
    background-color: var(--mainColor);
    color: var(--textColorContrast);
}